body {
  font-family: Roboto;
  line-height: normal;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
*,
::before,
::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
html,
main,
body,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}
.Web {
  color: #2196f3;
}
.header-logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.nav {
}
.nav-list {
  display: flex;
  gap: 50px;
  margin-right: 344px;
}
.nav-item {
}

.nav-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.nav-link:hover {
  color: #2196f3;
}
.header-list {
}
.header-items {
  display: flex;
  gap: 50px;
}
.header-contact {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header-contact:hover {
  color: #2196f3;
}
.decision {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(img/hero.jpg);
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.decision-container {
}
.decision-title {
  width: 696px;
  height: 120px;
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin: 30px auto;
}
.decision-button {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 34px;
  padding-right: 34px;
  margin: 0 auto;
}
.details {
  margin-top: 98px;
  margin-bottom: 98px;
}
.details-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.img-box {
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
  margin-bottom: 30px;
}
.img-box-antena::before {
  display: flex;
  content: url(img/svg/antenna\ 1.svg);
  padding: 25px 100px;
}
.img-box-clock::before {
  display: flex;
  content: url(img/svg/clock\ 1.svg);
  padding: 25px 100px;
}
.img-box-diagram::before {
  display: flex;
  content: url(img/svg/diagram\ 1.svg);
  padding: 25px 100px;
}
.img-box-astronaut::before {
  display: flex;
  content: url(img/svg/astronaut\ 1.svg);
  padding: 25px 100px;
  margin-bottom: 30px;
}

.details-title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.details-text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-top: 10px;
}
.about {
  height: 386px;
  margin-bottom: 96px;
}
.about-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  padding-bottom: 50px;
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-items {
}
.about-img {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
  gap: 30px;
}

.team {
  background: #f5f4fa;
  height: 648px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
  margin: 0 auto;
}
.team-items {
  width: 270px;
  height: 368px;
  flex-shrink: 0;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  gap: 30px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-img {
  width: 270px;
  height: 260px;
}
.team-name {
  display: flex;
  justify-content: center;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-top: 30px;
}
.team-work {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.footer {
  height: 252px;
  background: #2f303a;
  padding-top: 60px;
}
.footer-logo {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  margin-top: 60px;
}
.footer-list {
}
.footer-items {
}
.footer-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer-link {
  display: block;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}
.footer-link-number {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-top: 9px;
}
.footer-link-number:hover {
  color: #2196f3;
}
.footer-link:hover {
  color: #2196f3;
}
/* =================================ПОРТФОЛИО==================================== */
.header-portfolio {
}
.portfolio {
  border-top: #ececec solid;
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-list-buttons {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-items-buttons {
}
.portfolio-button {
  width: 103px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
  border: none;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625; /*162.5% 1.625. */
  letter-spacing: 0.48px;
}
.portfolio-button:hover {
  border: none;
  color: #fff;
  background: #2196f3;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-items {
  width: 370px;
  height: 404px;
  flex-shrink: 0;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.portfolio-img {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
}
.portfolio-title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% 2 */
  letter-spacing: 1.08px;
}
.portfolio-text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875; /* 187.5%  1.875*/
  letter-spacing: 0.48px;
}
